.popup {
  position: fixed;
  top: 20px;
  left: 45%;
//   transform: translateX(-50%);
  background: #ff4d4f;
  color: white;
  padding: 12px 24px;
  border-radius: 8px;
  font-weight: bold;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 1000;
  text-align: center;
  min-width: 250px;
  max-width: 80%;
  letter-spacing: 0.5px;

  // Smooth fade background effect
  transition: background 0.3s ease;

  &:hover {
    background: #e04344;
  }
}
