<!-- image-upload.component.html -->

<!-- <ng-conatiner *ngIf="staticService.trips$ | async as trips">
  <label for="cars" style="margin-top: 20rem;">Choose a destination:</label>
  
  <select name="cars" id="cars" [(ngModel)]="categoryId">
      <option *ngFor="let trip of trips"  [value]="trip.id">{{trip.category}}</option>
  </select>
  <input type="text">
  <input type="file" (change)="onFileSelected($event)" accept="image/*">
  <button (click)="onUpload()">Upload Image</button>
</ng-conatiner> -->

<ng-conatiner *ngIf="trips">
  <form
    [formGroup]="uploadForm"
    (ngSubmit)="onUpload()"
    class="form-details d-flex justify-content-center align-items-center"
  >
    <div
      class="form-div d-flex justify-content-center align-items-center flex-column"
    >
      <input
        class="mb-4"
        type="text"
        placeholder="Name"
        formControlName="name"
      />
      <select name="cars" id="cars" formControlName="categoryId" class="mb-4">
        <option *ngFor="let trip of trips" [value]="trip.destination_name">
          {{ trip.destination_name }}
        </option>
      </select>

      <input type="file" (change)="onFileSelected($event)" accept="image/*" />

      <div
        class="btnDiv d-flex align-items-center justify-content-center flex-column"
      >
        <button class="cstmSubmitBtn text-uppercase" type="submit">
          Upload
        </button>
      </div>
    </div>
  </form>
</ng-conatiner>
