<div class="card">
    <!-- <img [src]="imageUrl" alt="Card Image"> -->
    <div class="card-body d-flex justify-content-between flex-column align-items-center" [ngStyle]="{background: 'linear-gradient(180deg, rgba(0, 0, 0, 0.00) 68.17%, #000 110.26%), url(/img/' + card.imageUrl + ')'}">
      <div class="d-flex align-items-between justify-content-between" style="width: 100%;">
        <div class="new-add flex-center" [style.visibility]="card.new ? 'visible' : 'hidden'">
          <span *ngIf="card.new" class="text-uppercase">NEWLY ADDED</span>
        </div>
        <div class="category flex-center">
          <span>{{card.category | uppercase}}</span>
        </div>
      </div>
      <p class="title">{{card.title | uppercase}}</p>
      <div class="d-flex align-items-center justify-content-between" style="width: 100%;">
        <div>
          <img class="calendar-img" src="../../assets/calendar.svg" alt="">
          <div class="trip-date d-flex flex-column">
            <span>{{card.from | timestampToDate : 'date'}}<sup>th</sup> - {{card.to | timestampToDate : 'date'}}<sup>th</sup></span>
            <span>{{card.from | timestampToDate : 'month'}}</span>
          </div>
        </div>
        <div>
          <img class="calendar-img" src="../../assets/tabler_sun-moon.svg" alt="">
          <div class="trip-date duration d-flex flex-column">
            <span><b>{{card.days}}</b> Days</span>
            <span><b>{{card.nights}}</b> Nights</span>
          </div>
        </div>
      </div>
    </div>
  </div>