<!-- <div class="main-container">
    <div class="heading">
        <h1>Book Your adventure Today</h1>
        <p>Fill in the details below, and the final bill amount will be calculated based on your selection.</p>
    </div>

    <div class="booking-Section d-flex">
        <div class="booking-leftSection">
            <div class="booking-Info">
                <p>BOOKING CONTACT INFORMATION*</p>
                <form class="form-detail ">
                    <div>
                        <input type="text" placeholder="Full Name">
                        <input type="text" placeholder="Phone Number">
                        <input type="text" placeholder="Emergency / Guardian Contact Number">
                        <input type="text" placeholder="Email">
                    </div>
                </form>

            </div>
            <div class="travellerNumberDiv mt-4">
                <div class="firstDiv d-flex justify-between align-center">
                    <div>
                        <label for="travelerCount" class="traveler-label">NO. OF TRAVELER(S)</label>
                    </div>
                    <div class="number">
                        <button class="IncDecBtn" aria-label="Decrease number of travelers">-</button>
                        <p id="travelerCount" class="traveler-count">2</p>
                        <button class="IncDecBtn" aria-label="Increase number of travelers">+</button>
                    </div>
                </div>
                <p class="info-text">
                    Once your booking is complete, government-issued ID proofs will be required for you as well as all
                    travelers added to the trip. We will connect with you after the booking to provide instructions on
                    how to submit these documents.
                </p>
            </div>

            <div class="dashedBorderImg mt-4">
                <img src="../../assets/dashedLine.svg" alt="">
            </div>

            <div class="batchDiv">
                <div class="batchHead d-flex justify-content-between mt-4">
                    <p>SELECT THE BATCH</p>
                    <p>ALL | JAN | Feb | MAR</p>
                </div>
                <div class="batchPara mt-4">
                    <p>The starting price includes a default room. If you choose a different room type, the price may
                        vary.</p>
                </div>
                <div class="batchInfoSection mt-4">
                    <div class="batchHeading">
                        <mat-radio-group>
                            <mat-radio-button value="true"></mat-radio-button>
                        </mat-radio-group>
                        <p>Batch Dates</p>
                        <p>Status</p>
                        <p>Starting Price</p>
                    </div>
                    <div class=" batchInfo" *ngFor="let details of batchInfo">
                        <mat-radio-group>
                            <mat-radio-button value="true"></mat-radio-button>
                        </mat-radio-group>
                        <p>{{details.dates}}</p>
                        <p [ngClass]=" {
                            'cstmStatusBtn': true,
                             'availStatus': details.status === 'AVAILABLE',
                             'fullStatus': details.status === 'FULL',
                            'fillingStatus': details.status === 'FILLING FAST'
                        }">{{details.status}}</p>
                        <p class="price">&#8377; {{details.startingPrice}}</p>
                        <hr>
                    </div>
                    <div class="paginationDiv">
                        <button (click)="prevPage()" [disabled]="currentPage === 1">
                            <mat-icon>keyboard_arrow_left</mat-icon>
                        </button>
                        <span *ngFor="let page of pages" (click)="setPage(page)" [class.active]="currentPage === page">
                            {{ page }}
                        </span>
                        <button (click)="nextPage()" [disabled]="currentPage === totalPages">
                            <mat-icon>keyboard_arrow_right</mat-icon>
                        </button>
                    </div>
                </div>

               
            </div>

            <div class="roomTypeSection mt-5">
                <div class="roomTypeDiv d-flex">
                    <p>SELECT THE TYPE OF YOUR ROOM</p>
                    <mat-icon aria-hidden="false" aria-label="Info icon" fontIcon="info"></mat-icon>
                </div>

                <div class="occupancyTypeContainer mt-4">
                    <div class="occupancyTypeDiv " *ngFor="let data of occupancy">
                        <mat-radio-group>
                            <mat-radio-button value="true"></mat-radio-button>
                        </mat-radio-group>
                        <p>{{data.name}}</p>
                        <hr>
                        <p>+ &#8377; {{data.price}} </p>
                    </div>
                </div>
            </div>

        </div>
        <div class="booking-rightSection">
            <div class="adv-heading mt-3">
                <h1>Kashmir Valley Adventure</h1>
            </div>
            <div class="dateDurationDiv mt-3 d-flex">
                <div class="dates">
                    <p>JAN 12 - 16, 2025</p>
                </div>
                <div class="duration">
                    <p> 4 Days - 3 Nights</p>
                </div>
            </div>
            <div class="itenaryDiv mt-3">
                <p class="text-uppercase">Delhi • Srinagar • Gulmarg • Pahalgam • Betaab Valley • Dal lake • Delhi </p>
            </div>
            <hr class=" mt-4">

            <div class="pricingdiv d-flex mt-3">
                <div class="billContent">
                    <p>Number of Adventurers </p>
                    <p>Standard price</p>
                    <p>Triple Room Occupancy / Per Person </p>
                    <p>GST (5%)</p>
                    <p>Subtotal</p>
                </div>
                <div class="pricingContent">
                    <p style="text-align: right;">01</p>
                    <p>&#8377;6400</p>
                    <p>&#8377;400</p>
                    <p>&#8377;200</p>
                    <p>&#8377;7400</p>
                </div>
            </div>
            <div class="couponDiv mt-4 d-flex">
                <p>Enter Coupon Code</p>
                <p>Apply</p>
            </div>
            <hr class="mt-4">

            <div class="amountPaidDiv mt-2 d-flex">
                <p>Amount to be paid</p>
                <p>&#8377;7400</p>
            </div>

            <div class="paidBtnDiv mt-2">
                <p>PAY NOW</p>
            </div>
        </div>
    </div>

    <div class="bannerSection mt-5">
        <img src="../../assets/bookingLastBanner.svg" alt="banner">
    </div>
</div> -->

<div class="main-container">
    <div class="navigate-back">
        <mat-icon
        aria-hidden="false"
        aria-label="Example home icon"
        fontIcon="arrow_back"
        class="me-2"
      ></mat-icon>
    </div>

    <div class="header">
        <div class="heading mb-3">Book Your adventure Today</div>
        <span class="para-font-style">Fill in the details below, and the final bill amount will be calculated based on your selection.</span>
    </div>

    <div class="d-flex justify-content-between">
        <div class="left-div">
            <div class="contact-details">
                <div class="heading">
                    <p><span class="text-uppercase">Booking contact information</span><span>*</span></p>
                    <form action="">
                        <form class="form-detail">
                            <input type="text" placeholder="Full Name">
                            <input type="text" placeholder="Phone Number">
                            <input type="text" placeholder="Emergency / Guardian Contact Number">
                            <input type="text" placeholder="Email">
                        </form>
                    </form>
                </div>
            </div>
            <div class="travellers d-flex justify-content-between mb-4">
                <span class="text-uppercase">No. of traveller(s)</span>
                <div class="number">
                    <button class="IncDecBtn" aria-label="Decrease number of travelers">-</button>
                    <p id="travelerCount" class="traveler-count">2</p>
                    <button class="IncDecBtn" aria-label="Increase number of travelers">+</button>
                </div>
            </div>
            <span class="para-font-style mt-3">Once your booking is complete, government-issued ID proofs will be required for you as well as all travelers added to the trip. We will connect with you after the booking to provide instructions on how to submit these documents.</span>
            <div class="batches-container">
                <div class="header d-flex justify-content-between">
                    <div class="heading text-uppercase">select the batch</div>
                    <div class="text-uppercase">ALL | Jan | Feb | Mar</div>
                </div>

                <div class="batches">
                    <div class="header d-flex align-items-center justify-content-between">
                        <mat-radio-button value="true" disabled>
                        </mat-radio-button>
                      <div>Batch Dates</div>
                      <div class="status">Status</div>
                      <div>Starting Price</div>
                    </div>
                    <div class="dates">
                      <div
                        class="d-flex align-items-center justify-content-between content"
                      >
                        <mat-radio-button value="true">
                        </mat-radio-button>
                        <span>JAN 12 - 16, 2025</span>
                        <div
                          class="availablity text-uppercase d-flex align-items-center justify-content-center"
                        >
                          Available
                        </div>
                        <span> &#8377; 7400</span>
                      </div>
                      <div
                        class="d-flex align-items-center justify-content-between content"
                      >
                        <mat-radio-button value="true">
                        </mat-radio-button>
                        <span>JAN 12 - 16, 2025</span>
                        <div
                          class="availablity text-uppercase d-flex align-items-center justify-content-center"
                        >
                          Available
                        </div>
                        <span> &#8377; 7400</span>
                      </div>
                      <div
                        class="d-flex align-items-center justify-content-between content"
                      >
                        <mat-radio-button value="true">
                        </mat-radio-button>
                        <span>JAN 12 - 16, 2025</span>
                        <div
                          class="availablity text-uppercase d-flex align-items-center justify-content-center"
                        >
                          Available
                        </div>
                        <span> &#8377; 7400</span>
                      </div>
                      <div
                        class="d-flex align-items-center justify-content-between content"
                      >
                        <mat-radio-button value="true">
                        </mat-radio-button>
                        <span>JAN 12 - 16, 2025</span>
                        <div
                          class="availablity text-uppercase d-flex align-items-center justify-content-center"
                        >
                          Available
                        </div>
                        <span> &#8377; 7400</span>
                      </div>
                      
                        <div
                            class="d-flex align-items-center justify-content-center content pagination-div"
                            >
                            <button (click)="prevPage()" [disabled]="currentPage === 1" class="d-flex align-items-center justify-content-center me-3">
                                <mat-icon>keyboard_arrow_left</mat-icon>
                            </button>
                            <div *ngFor="let page of pages" (click)="setPage(page)" [class.active]="currentPage === page" class="d-flex align-items-center justify-content-center me-3">
                                {{ page }}
                            </div>
                            <button (click)="nextPage()" [disabled]="currentPage === totalPages" class="d-flex align-items-center justify-content-center">
                                <mat-icon>keyboard_arrow_right</mat-icon>
                            </button>
                        </div>
                    </div>
                  </div>
            </div>
            <div class="rooms-div">
                <div class="text-uppercase d-flex align-items-center">
                    <span class="me-2">Select the type of your room </span>
                    <mat-icon
                    aria-hidden="false"
                    aria-label="Example home icon"
                    fontIcon="info"
                  ></mat-icon>
                </div>
                <div class="types d-flex justify-content-between">
                    <div class="card d-flex flex-column">
                        <mat-radio-button value="true">
                        </mat-radio-button>
                        <span class="para-font-style mt-3">
                            Triple Occupancy
                        </span>
                    </div>
                    <div class="card d-flex flex-column">
                        <mat-radio-button value="true">
                        </mat-radio-button>
                        <span class="para-font-style mt-3">
                            Double Occupancy
                        </span>
                        <div class="price mt-3">
                            + &#8377; 300
                        </div>
                    </div>
                    <div class="card d-flex flex-column">
                        <mat-radio-button value="true">
                        </mat-radio-button>
                        <span class="para-font-style mt-3">
                            Single Occupancy
                        </span>
                        <div class="price mt-3">
                            + &#8377; 600
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
        <div class="right-div">
            <div class="cart">
                <span class="title">Kashmir</span>
                <div class="trip-details d-flex justify-content-between mt-2">
                    <div class="d-flex align-items-center">
                        <img src="../../assets/calendar_small.png" alt="" class="me-2">
                        <span class="date">Jan 12 - 16, 2025</span>
                    </div>
                    <div class="duration">
                        4 Days - 3 Nights
                    </div>
                </div>
                <div class="locations mt-4 para-font-style">
                    Delhi • Srinagar • Gulmarg • Pahalgam • Betaab Valley • Dal lake • Delhi  
                </div>
                <div class="pricing mt-4">
                    <div class="d-flex justify-content-between mt-3">
                        <span class="para-font-style">Number of Travellers</span>
                        <span class="para-font-style">1</span>
                    </div>
                    <div class="d-flex justify-content-between mt-3">
                        <span class="para-font-style">Standard Price</span>
                        <span class="para-font-style">&#8377; 6400</span>
                    </div>
                    <div class="d-flex justify-content-between mt-3">
                        <span class="para-font-style">Triple Room Occupancy / Per Person </span>
                        <span class="para-font-style">&#8377; 400</span>
                    </div>
                    <div class="d-flex justify-content-between mt-3">
                        <span class="para-font-style">GST (5%)</span>
                        <span class="para-font-style">&#8377; 200</span>
                    </div>
                    <div class="d-flex justify-content-between mt-3">
                        <span class="para-font-style">Subtotal</span>
                        <span class="para-font-style">&#8377; 7400</span>
                    </div>
                </div>

                <input type="text" placeholder="Enter Coupon Code" class="mt-4 w-100 coupon-input">
                <div class="total mt-4 d-flex justify-content-between">
                    <span>Amount to be paid</span>
                    <span class="amount">&#8377; 7400</span>
                </div>

                <div class="pay w-100 text-uppercase text-center align-content-center mt-4" (click)="payNow()">
                    Pay now
                </div>
            </div>
        </div>
    </div>
    <img [src]="bannerUrl" alt="S3 Image" class="w-100 banner" />
</div>