@import "../../styles.scss";

* {
    color: $lf-black !important;
    font-family: "Poppins", sans-serif;
}

.main-container {
    padding: 12rem 12.5rem;
}

.heading {
    h1 {
        font-size: 1.5rem;
        font-weight: bold;
        font-family: sans-serif;
        text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.25);
    }

    p {
        font-size: 1rem;
        opacity: .8;
        line-height: 1.25rem;
        margin-top: .5rem;
    }
}

.booking-Section {
    margin-top: 3rem;
    justify-content: space-between;
    gap: 2rem;
}

.booking-leftSection {
    flex: 1;
    min-width: 300px;
}

.booking-Info {
    p {
        margin-bottom: .9rem;
        letter-spacing: .04;
        font-size: 1rem;
        font-weight: 500;
    }
}

.form-detail {
    input {
        display: block;
        margin-top: 1rem;
        background-color: #f1f1f1;
        border: 2px solid rgba(0, 0, 0, 0.1);
        width: 100%;
        height: 4rem;
        padding: 1rem 2rem;
        color: $lf-light-grey;
        font-size: 1.25rem;
        border-radius: 0.35rem;
        opacity: 1;
    }

    input::placeholder {
        font-size: .9rem;
        line-height: 1.25rem;
        color: $lf-black;
        opacity: .5;
    }
}

.travellerNumberDiv {

    p:last-child {
        margin-top: 1rem;
        font-size: .9rem;
        line-height: 1.5rem;
        opacity: .8;
    }
}

.firstDiv {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.traveler-label {
    // font-weight: 600;
    // margin-right: 1rem;
    // margin-bottom: .9rem;
    letter-spacing: .04;
    font-size: 1rem;
    font-weight: 500;

}

.number {

    display: flex;
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    background: #f9f9f9;
    .IncDecBtn {
        border: none;
        background-color: #f1f1f1;
        color: #fff;
        padding: 0.05rem .5rem;
        cursor: pointer;
        font-size: 1rem;
        border-radius: 3px;
    }

    .traveler-count {
        padding: 0.05rem .75rem;
        font-weight: 600;
        margin: 0;
    }

}

.dashedBorderImg{

    img{
        width: 100%;
        height: auto;
        display: block;
    }

}

.batchHeading {
    border: 1px solid;
}

.batchHead {

    p {
        // font-size: 1rem;
        // opacity: 1;
        // letter-spacing: .04;
        // font-weight: 600;

        letter-spacing: .04;
    font-size: 1rem;
    font-weight: 500;
    }
}
.batchInfoSection {
    border: 2px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.batchHeading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F0F5FA;
    opacity: 1;
    padding: 1rem ;
    border: none;
    font-weight: 500;
    border-radius: 10px 10px 0 0;

    p {
        font-size: 1rem;
        opacity: 1;
        margin: 0;
        flex: none;
        min-width: 100px;
        text-align: left;
    }
}



::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: $lf-gold;
    width: 1.25rem;
    height: 1.25rem;
}

::ng-deep .mat-radio-outer-circle {
    border-color: 2px solid #929292;
    opacity: 1;
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #929292;
    opacity: 1;
}

::ng-deep .mat-radio-label-content {
    font-size: 1rem;
    font-weight: 300;
    line-height: 2rem;
    letter-spacing: 0.03125rem;
    color: rgba(255, 255, 255, 0.75);
}

.cstmStatusBtn {
    width: 7rem;
    height: 1.5rem;
    font-size: .85rem;
    letter-spacing: 1px;
    color: #ffffff !important;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;

}

.availStatus {
    background-color: #13AE4B;
}

.fullStatus {
    background-color: #FF5A5F;
}

.fillingStatus {
    background-color: #F0BB1F;
}

.batchInfo {
    display: flex;
    justify-content: space-between;
    align-items: right;
    padding: 1rem;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);   
    text-align: right;

    p {
        margin: 0;
        flex: none;
        min-width: 100px

    }
    .cstmStatusBtn{
        flex: none;
        min-width: 100px;
        text-align: left;
    }
    .price{
        flex: none;
        min-width: 100px;
        text-align: right;
    }

    &:last-child {
        border: none;

    }
}



.paginationDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .5rem .5rem;
   span , button {
        margin: 0 5px;
        padding: 6px 15px;
        cursor: pointer;
        border: 1px solid #ddd;
        border-radius: 5px;
    }
}

.paginationDiv span.active {
    background: #F0F5FA;
    color: white;
}

.batchPara {
    p {
        font-size: 1rem;
        opacity: .8;
    }
}

.roomTypeDiv {
    p {
        // font-size: 1rem;
        // opacity: 1;
        // letter-spacing: .04;
        // font-weight: 600;
        letter-spacing: .04;
        font-size: 1rem;
        font-weight: 500;
    
    }
}

.occupancyTypeContainer {
    display: flex;
    justify-content: space-between;
}

.occupancyTypeDiv {
    width: 9rem;
    height: 10rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: .5rem .5rem;
    background-color: #F3F7FB;
    margin-right: 10%;
    border-radius: 4px;


    p {
        padding: 1rem 0rem;
        font-size: .8rem;
        line-height: 1rem;
        opacity: .8;
        font-weight: 600;
        margin-top: 1rem;
    }

    p:last-child {
        margin-top: 0;
    }
}

// right Section------------------------------------------------------------------------------------------

.booking-rightSection {
    flex: 0 0 34rem;
    border: 2px solid rgba(0, 0, 0, 0.1);
    padding: 1rem 1rem;
    width: 34rem;
    height: 37rem;
    position: sticky;
    top: 0;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    

}

.adv-heading {
    h1 {
        font-size: 1.5rem;
        font-weight: bold;
        color: $lf-black;
    }

}

.dateDurationDiv {
    justify-content: space-between;
}

.dates {
    p {
        font-size: 1rem;
        opacity: 1;
    }
}

.duration {
    p {
        font-size: 1rem;
        opacity: 1;
    }
}

.itenaryDiv {
    border: none;
    background-color: #E9EFFE;
    opacity: .6;
    padding: .5rem .5rem;

    p {
        font-size: .7rem;
        line-height: 1.25rem;
        color: $lf-black ;
        font-weight: 500;
        text-align: center;
        letter-spacing: .02rem;

    }
}

.pricingdiv {
    justify-content: space-between;
}

.billContent{
    p {
        color: $lf-black;
        opacity: .6;
        font-size: 1rem;
        margin-top: .5rem;

    &:last-child{
        font-weight: 500;
        opacity: .6;
    }
}
}
.pricingContent {
    p {
        color: $lf-black;
        opacity: .6;
        font-size: 1rem;
        margin-top: .5rem;

    }
}


.couponDiv {
    background-color: #F4F4F4;
    border: 2px dashed lightgray;
    justify-content: space-between;
    border-radius: 4px;

    p {
        font-size: 1rem;
        line-height: 1rem;
        color: $lf-black;
        margin: 1rem 1rem;
        opacity: .3;
    }
}

.amountPaidDiv {
    justify-content: space-between;
    align-items: center;

    p {
        &:first-child {
            font-size: 1rem;
            opacity: .6;
            font-weight: 500;
        }

        &:last-child {
            font-size: 2rem;
            font-weight: bold;
        }

    }
}

.paidBtnDiv {
    background-color: #D9D9D9;
    text-align: center;
    border: none;
    color: $lf-black;
    font-size: 1rem;
    font-weight: 550;
    padding: .75rem .75rem;
    border-radius: 4px;
    letter-spacing: .75px;
    margin-bottom: 1rem;
}

// banner------------
.bannerSection {
    width: 70rem;
    // padding: 12rem 12rem;

    img {
        width: 100% !important;
        height: auto;
    }
}