<app-header></app-header>
<div class="intro-container">
  <div>
    <p class="heading text-uppercase">meet bhumi</p>
    <p class="sub-heading">Unveiling the Heart of Barefoot Nomads</p>
    <div class="introduction d-flex align-items-center justify-content-between">
      <div>
        <p class="para-font-style">
          Imagine a dreamer who turned her wanderlust into a journey of laughter
          and adventure. That’s me, <b>Bhumi</b>, the mind and soul behind
          Barefoot Nomads. For years, I’ve dreamt of crafting a travel
          experience that goes beyond the ordinary—a journey where each step is
          as enriching as the destination itself.
        </p>
        <p class="para-font-style">
          With over 100 trips under my belt, I’ve seen laughter become the
          universal language of every adventure. I’ve spent 6+ years exploring
          this world I adore, soaking in every culture and landscape. For me,
          it’s not just about the places; it’s the people who make each journey
          unforgettable.
        </p>
        <p class="para-font-style">
          They say it’s not the destination but the company that makes the
          travel special. And at Barefoot Nomads, we embody that spirit. We’ve
          trekked through 10+ destinations, weaving together both rugged trails
          and leisurely escapes. I’m not just a guide; I’m the heart of a team
          that handles everything—from leadership and sales to execution and
          social media—with an unquenchable thirst for learning.
        </p>
      </div>
      <img src="../../assets//bhumi.png" alt="" />
    </div>
    <div
      class="characterstics-main d-flex align-items-center justify-content-between"
    >
      <div
        class="characterstic d-flex align-items-center justify-content-between flex-column"
      >
        <img src="../../assets/tea-cup.svg" alt="" />
        <p class="para-font-style">Black Tea<br />Enthusiast</p>
      </div>
      <div
        class="characterstic d-flex align-items-center justify-content-between flex-column"
      >
        <img src="../../assets/Lover.svg" alt="" />
        <p class="para-font-style">Rom-Com<br />Lover</p>
      </div>
      <div
        class="characterstic d-flex align-items-center justify-content-between flex-column"
      >
        <img src="../../assets/local-food.svg" alt="" />
        <p class="para-font-style">Local Food<br />Specialist</p>
      </div>
      <div
        class="characterstic d-flex align-items-center justify-content-between flex-column"
      >
        <img src="../../assets/butterfly.svg" alt="" />
        <p class="para-font-style">Social<br />Butterfly</p>
      </div>
    </div>
  </div>
</div>

<image-slider></image-slider>

<div class="start-main-div d-flex align-items-center justify-content-between">
  <div class="start">
    <p class="heading">How I started <span>BarefootNomads</span>??</p>
    <p class="para-font-style">
      My journey into the world of adventure began during my undergraduate years
      studying mass communication. Early on, I discovered a deep-seated passion
      for exploration and traveling. This realization led me to work with
      several travel agencies, where I honed my skills and learned the
      intricacies of crafting memorable travel experiences. As time went on, I
      felt a growing desire to carve my own path in the industry. With a heart
      full of wanderlust and a mind brimming with ideas, I decided to start my
      own thing: <b>Barefoot Nomads</b>.
    </p>
  </div>
  <img src="../../assets/bhumi-multi-pic.png" alt="" />
</div>

<div class="jet-set-go">
  <p class="heading">Jet-Set Go: Perks & Playlists</p>
  <p class="para-font-style">
    My goal was clear—to offer both ready-made and customized adventure packages
    that would cater to the unique desires and dreams of each adventurer. From
    bustling cities to remote paradises, I aimed to create journeys that left a
    lasting impact. Soon, adventurers began to trust us to deliver unforgettable
    experiences since then It's been a journey of passion, learning, and
    fulfillment, proving that when you follow your dreams, incredible things can
    happen.
  </p>
  <div class="cards-list d-flex align-items-center justify-content-between">
    <div class="perk d-flex align-items-baseline justify-content-center flex-column">
        <p class="card-heading">Customised</p>
        <p class="card-content">Trip Packages</p>
        <img src="../../assets/perk-1.svg" alt="">
    </div>
    <div class="perk d-flex align-items-baseline justify-content-center flex-column">
        <p class="card-heading">Exclusive</p>
        <p class="card-content">Experiences</p>
        <img src="../../assets/perk-2.svg" alt="">
    </div>
    <div class="perk d-flex align-items-baseline justify-content-center flex-column">
        <p class="card-heading">Thematic</p>
        <p class="card-content">Journeys</p>
        <img src="../../assets/perk-3.svg" alt="">
    </div>
    <div class="perk d-flex align-items-baseline justify-content-center flex-column">
        <p class="card-heading">Community</p>
        <p class="card-content">Engagement</p>
        <img src="../../assets/perk-4.svg" alt="">
    </div>
    <div class="perk d-flex align-items-baseline justify-content-center flex-column">
        <p class="card-heading">Continous</p>
        <p class="card-content">Support</p>
        <img src="../../assets/perk-5.svg" alt="">
    </div>
  </div>
</div>

<app-footer></app-footer>
