<div class="hero-banner d-flex justify-content-center flex-column">
  <video autoplay muted loop id="background-video">
    <source src="../../assets/199958-911694865_small.mp4" type="video/mp4" />
    Your browser does not support the video tag.
  </video>
  <div class="overlay"></div>
  <div class="tag-line text-uppercase text-center">Embark on an escape</div>
  <p class="sub-tag-line">
    Explore Handpicked Adventures for an <br *ngIf="viewPort > 460" /><b
      >Unforgettable </b
    ><b>Travel Experience</b>
  </p>
  <div class="banner-points d-flex align-items-center justify-content-between">
    <div id="banner-point-1">
      <div class="flex-center">
        <div class="img-bg flex-center">
          <img src="../../assets/mi_location.svg" alt="" />
        </div>
        <span>
          <p style="font-size: 1rem; font-weight: 500">More than 90+</p>
          <p style="font-size: 0.875rem">Breakaway Adventures</p>
        </span>
      </div>
    </div>
    <div id="banner-point-2">
      <div class="flex-center">
        <div class="img-bg flex-center">
          <img src="../../assets/majesticons_calendar.svg" alt="" />
        </div>
        <span>
          <p style="font-size: 1rem; font-weight: 500">+3 Years of Service</p>
          <p style="font-size: 0.875rem">Dedicated to Nomads</p>
        </span>
      </div>
    </div>
    <div id="banner-point-3">
      <div class="flex-center">
        <div class="img-bg flex-center">
          <img src="../../assets/mdi_medal-outline.svg" alt="" />
        </div>
        <span>
          <p style="font-size: 1rem; font-weight: 500">
            Certified Trip Captain
          </p>
          <p style="font-size: 0.875rem">For your getaway Expedition</p>
        </span>
      </div>
    </div>
  </div>
</div>
<div class="who-are-we-main-div d-flex justify-content-center">
  <img class="logo-watermark" src="../../assets//logo-watermark.svg" alt="" />
  <span class="heading text-uppercase">Who we are??</span>
  <p class="sub-heading d-flex align-items-center">
    <span>We are</span><span style="margin-left: 0.7rem">BarefootNomads</span>
  </p>
  <p class="content">
    We are the Barefoot Nomads, a tribe of modern-day explorers driven not just
    to visit destinations, but to fully immerse ourselves in every corner of the
    globe. Free from material burdens and fueled by a thirst for experiences and
    connection, we offer meticulously curated adventure packages that eliminate
    the hassle of itinerary planning and mundane bookings, empowering seamless
    journeys. Adventurers come together to share stories, exchange tips, and
    ignite each other’s passion for exploration. Whether seeking solitary
    retreats in remote landscapes or creating lifelong memories with family, the
    Barefoot Nomad tribe welcomes all. Together, we traverse the world,
    <span
      >One Barefoot Step at a Time
      <img src="../../assets/underline.svg" alt="" /> </span
    >, embracing the spirit of adventure and camaraderie that defines our
    journey.
  </p>
</div>
<ng-container>
  <trip-carousel></trip-carousel>
</ng-container>

<div class="banner d-flex align-items-center justify-content-center w-100">
  <img [src]="bannerUrl" alt="S3 Image" class="w-100" />
</div>

<div class="stories">
  <div class="content-header d-flex align-items-center justify-content-between">
    <div class="content-heading">
      <div class="heading text-uppercase mb-2">What our customers say</div>
      <div class="sub-heading mt-4">Stories from our Contented Nomads</div>
    </div>
  </div>
  <div class="main-content d-flex justify-content-between">
    <div class="reviews">
      <p id="summary">
        Our travelers' testimonials highlight the transformative power of
        exploration and the exceptional service we provide. From families
        seeking meaningful connections to solo adventurers on journeys of
        self-discovery, each story reflects the unforgettable experiences we
        curate.
      </p>

      <div>
        <div class="d-flex align-items-center review">
          <img src="../../assets/Ellipse 9.svg" alt="" />
          <p class="d-flex flex-column">
            <span class="review-heading">Effortless booking</span>
            <span class="review-span"
              >“Simplified our Journey with Hassle-Free Reservations”- Pooja
              Mishra, 2021</span
            >
          </p>
        </div>
        <div class="d-flex align-items-center review" s>
          <img src="../../assets/Ellipse 9 (1).svg" alt="" />
          <p class="d-flex flex-column">
            <span class="review-heading">Safe Travelling</span>
            <span class="review-span"
              >"Peace of Mind, Every Mile of the Way." - Iqbal Hussain,
              2023</span
            >
          </p>
        </div>
        <div class="d-flex align-items-center review">
          <img src="../../assets//Ellipse 9 (2).svg" alt="" />
          <p class="d-flex flex-column">
            <span class="review-heading">Affordable Prices</span>
            <span class="review-span"
              >“Provided Quality Experience & Exceptional Value!” - Arush Mehta,
              2022</span
            >
          </p>
        </div>
      </div>
    </div>
    <div class="video-container">
      <video controls autoplay>
        <source src="../../assets/reviews.mp4" type="video/mp4" />
        Your browser does not support the video tag.
      </video>
    </div>
  </div>
</div>

<div class="brands">
  <span class="text-uppercase">Brands that trust us</span>
  <div class="d-flex justify-content-between">
    <img src="../../assets/brand 1.png" alt="" />
    <img src="../../assets/brand 2.png" alt="" />
    <img src="../../assets/brand 3.png" alt="" />
    <img src="../../assets/brand 4.png" alt="" />
  </div>
</div>
