header {
    display: flex;
    // width: 100;
    height: 5rem;
    padding: 0rem 5rem;
    justify-content: space-between;
    align-items: center;
    flex-shrink: 0;
    z-index:1;
    background: transparent;
    position: fixed;
    width: 100%;
    top: 0;
}
.nav-menu {
    display: none;
}
.dark-bg {
    border-bottom: 1px solid rgba(255, 255, 255, 0.20);
    background: #0C0C0C;
}
.transparent {
    background: transparent;
}
.logo {
    font-family: "Playfair Display";
    font-size: 2.27244rem;
    font-weight: 800;
    line-height: 3.02994rem; /* 133.333% */
    letter-spacing: -0.15906rem;
    gap: 0.125rem;
}

.nav-links {
    font-size: 0.875rem;
    letter-spacing: 0.0175rem;
    gap: 1.5rem;
}

@media only screen and (max-width: 427px) {
    header {
        padding: 0 2rem;
    }
    .nav-links {
        display: none !important;
    }
    .nav-menu {
        display: block;
    }
}
