<header [ngClass]="isScroll ? 'dark-bg' : 'transparent'">
    <div class="logo d-flex align-items-center">
        <img src="../../assets/logo.svg" alt="">
        BarefootNomads
    </div>
    <div class="nav-links d-flex align-items-center justify-content-between">
        <div>
            Adventures
        </div>
        <div [routerLink]="'/about'" [routerLinkActive]="'is-active'">
            About Us
        </div>
        <div>
            Contact
        </div>
        <div  [routerLink]="'/login'" [routerLinkActive]="'is-active'">
            Sign Up/Login
        </div>
    </div>
    <div class="nav-menu">
        <img src="../../assets/nav-menu.svg" alt="">
    </div>
</header>