@import "../../styles.scss";

.main-container {
  background-color: $lf-black;
  padding: 5rem 12rem;
  .heading {
    font-size: 1rem;
    font-weight: 600;
    line-height: 0.5rem;
    letter-spacing: 0.125rem;
    opacity: 0.8;
  }
  .sub-heading {
    font-size: 2rem;
    font-weight: 600;
    line-height: 3rem;
    margin-bottom: 2rem;
  }
  .sub-div {
    margin-top: 7rem;
  }
}

.form-container {
  margin-top: 4rem;
}
mat-radio-group mat-radio-button {
  &:first-child {
    margin-right: 2rem;
  }
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent
  .mat-radio-ripple
  .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
  background-color: $lf-gold;
}

::ng-deep .mat-radio-outer-circle {
  border-color: $lf-light-grey;
}

::ng-deep
  .mat-radio-button.mat-accent.mat-radio-checked
  .mat-radio-outer-circle {
  border-color: $lf-light-grey;
}

::ng-deep .mat-radio-label-content {
  font-size: 1rem;
  font-weight: 300;
  line-height: 2rem;
  letter-spacing: 0.03125rem;
  color: rgba(255, 255, 255, 0.75);
}
