<footer>
    <div>
        <div class="heading d-flex align-items-center">
            <img src="../../assets/BarefootNomads (black).png" alt="">
        </div>
        <div class="d-flex justify-content-between content-container">
            <div id="input-main-container">
                <p class="content">
                    Be the first to know about our <span>new adventures</span> and other <span>exclusive offers</span>. Drop your email below & join the tribe!
                </p>
                <div class="main-input-div">
                    <div class="input-div">
                        <span class="text-uppercase">Your Email</span>
                        <input placeholder="abc@xyz.com" type="text" name="text" class="input">
                    </div>
					<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="arrow_forward"></mat-icon>
                </div>
            </div>
            <div class="quick-links d-flex justify-content-end">
                <div class="d-flex flex-column justify-content-between">
                    <span class="text-uppercase">Quick Links</span>
                    <a href="">About Us</a>
                    <a href="">Contact Us</a>
                    <a href="">Payment Policy</a>
                    <a href="">Privacy Policy</a>
                    <a href="">Terms & Conditons</a>
                </div>
            </div>
            <div class="quick-links d-flex justify-content-end">
                <div>
                    <span class="text-uppercase">Office Address</span>
                    <p class="mt-3">14 Dwarka Greens,<br/> Near Vegas Mall, Sector 14,<br/> 
                        New Delhi, India - 110078</p>
                    <div class="d-flex contact justify-content-between">
                        <div class="contact-icons">
                            <img src="../../assets/mdi_instagram.svg" alt="">
                        </div>
                        <div class="contact-icons">
                            <img src="../../assets//ic_outline-email.svg" alt="">
                        </div>
                        <div class="contact-icons">
                            <img src="../../assets//ph_phone-bold.svg" alt="">
                        </div>
                        <div class="contact-icons">
                            <img src="../../assets/Whatsapp (1).svg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <img class="track" src="../../assets//tracks2 1.svg" alt="">
</footer>
<div class="copywrite">
    <p>
        All Rights Reserved — BarefootNomads© 2025
    </p>
</div>