<footer>
    <div>
        <div class="heading d-flex align-items-center">
            <img src="../../assets/mingcute_foot-line (1).svg" alt="">
            <p>BarefootNomads</p>
        </div>
        <div class="d-flex align-items-center justify-content-between content-container">
            <div>
                <p class="content">Life's too short for boring vacations! Pack your dreams, leave the ordinary behind, and let's make some memories!</p>
                <p class="content">👋 Bon voyage, fellow <span>nomads</span>!</p>
                <div class="d-flex align-items-center contact justify-content-between">
                    <div class="contact-icons">
                        <img src="../../assets/mdi_instagram.svg" alt="">
                    </div>
                    <div class="contact-icons">
                        <img src="../../assets//ic_outline-email.svg" alt="">
                    </div>
                    <div class="contact-icons">
                        <img src="../../assets//ph_phone-bold.svg" alt="">
                    </div>
                    <div class="contact-icons">
                        <img src="../../assets/Whatsapp (1).svg" alt="">
                    </div>
                </div>
            </div>
            <div>
                <p class="content">
                    Be the first to know about our <span>new adventures</span> and other <span>exclusive offers</span>. Drop your email below & join the tribe!
                </p>
                <div class="input-div">
                    <input placeholder="abc@xyz.com" type="text" name="text" class="input">
					<mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="arrow_forward"></mat-icon>
                </div>
            </div>
        </div>
    </div>
    <img class="track" src="../../assets//tracks2 1.png" alt="">
</footer>
<div class="copywrite">
    <p>
        All Rights Reserved — BarefootNomads© 2024  
    </p>
</div>