
<div class="main-container">
    <div class="heading text-uppercase">Trending & New Adventures Await</div>
  <div class="sub-heading d-flex align-items-baseline justify-content-between mt-4">
    <p>Discover the latest and most sought-after <span>Adventures</span></p>
    <span class="text-uppercase text-decoration-underline view-all cursor-pointer" (click)="navigateToAdventures()"
      >View All</span
    >
  </div>
  <div class="carousel-container">
    <!-- Carousel Slides -->
    <div class="carousel-wrapper" [style.transform]="'translateX(-' + currentPage * 100 + '%)'">
      <div class="carousel-page" *ngFor="let page of pages">
        <div class="trip-card" *ngFor="let trip of page">
  <trip-card [card]="trip" (click)="navigateToTrip(trip)" class="cursor-pointer"></trip-card>
        </div>
      </div>
    </div>
  </div>
  
  <!-- Controls -->
  <div class="carousel-controls">
        <div class="dots">
      <span *ngFor="let page of pages; let i = index"
            [class.active]="i === currentPage"
            (click)="goToPage(i)"></span>
    </div>
    <div class="action-btn">
      <button mat-icon-button (click)="prevPage()" [disabled]="currentPage === 0">
<mat-icon>arrow_back</mat-icon>
</button>
<button mat-icon-button (click)="nextPage()" [disabled]="currentPage === pages.length - 1">
<mat-icon>arrow_forward</mat-icon>
</button>
    </div>
  </div>
</div>

