<div class="background-wrapper">
  <div class="main-div">
    <div *ngIf="!isSignUp" class="heading-container">
      <p class="heading text-uppercase">Welcome Back, Adventurer!</p>
      <p class="sub-heading">
        Log in to access your personalized travel experience
      </p>
      <p class="context para-font-style">
        Log in to access your personalized travel dashboard. Manage your
        profile, view booking history, and keep track of your favorite trip
        packages all in one convenient place. Your next adventure is just a
        click away!
      </p>
    </div>

    <div *ngIf="isSignUp" class="heading-container">
      <p class="heading text-uppercase">Travel Awaits You!</p>
      <p class="sub-heading">
        Unlock exclusive adventures tailored just for you.
      </p>
      <p class="context para-font-style">
        Join our vibrant community of travelers and access your personalized
        profile, view your booking history, and manage your favorite adventure
        packages. Sign up today to start exploring unique destinations and
        personalized travel experiences that await!
      </p>
    </div>

    <form
      *ngIf="!isSignUp"
      [formGroup]="loginForm"
      (ngSubmit)="submitLoginForm()"
      class="form-details d-flex justify-content-center align-items-center"
    >
      <div
        class="form-div d-flex justify-content-center flex-column align-items-center"
      >
        <p class="mb-4">
          > Don't have an account?
          <span class="signup-login-btn" (click)="isSignUp = true"
            >SignUp Now</span
          >
        </p>
        <input type="text" placeholder="Email" formControlName="email" />

        <div class="d-flex align-items-end justify-content-between">
          <!-- <p class="small-text signup-login-btn">Forgot Password?</p> -->
        </div>
        <input
          type="password"
          placeholder="XXX-XXX-XXX"
          formControlName="password"
        />

        <div
          class="btnDiv d-flex align-items-center justify-content-center flex-column"
        >
          <button class="cstmSubmitBtn text-uppercase" type="submit">
            Login
          </button>
        </div>
      </div>
    </form>

    <form
      *ngIf="isSignUp"
      [formGroup]="signUpform"
      (ngSubmit)="submitSignUpform()"
      class="form-details d-flex justify-content-center align-items-center"
    >
      <div
        class="form-div d-flex justify-content-center align-items-center flex-column"
      >
        <p class="mb-4">
          > Have an account already?
          <span class="signup-login-btn" (click)="isSignUp = false"
            >Login Now</span
          >
        </p>
        <input
          class="mb-4"
          type="text"
          placeholder="Name"
          formControlName="name"
        />

        <input
          class="mb-4"
          type="text"
          placeholder="Email"
          formControlName="email"
        />

        <input
          class="mb-4"
          type="number"
          placeholder="Phone"
          formControlName="phone"
        />

        <input
          class="mb-4"
          type="password"
          placeholder="Password"
          formControlName="password"
        />

        <input
          class="mb-4"
          type="password"
          placeholder="Re-enter Password"
          [(ngModel)]="password"
        />

        <div
          class="btnDiv d-flex align-items-center justify-content-center flex-column"
        >
          <button class="cstmSubmitBtn text-uppercase" type="submit">
            Create
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
