@import "../../styles.scss";

.background-wrapper {
  background-color: $lf-black;
  position: relative;
}

.main-div {
  padding: 10rem 12rem;
  .heading {
    font-size: 1rem;
    font-weight: 600;
    line-height: 0.5rem;
    letter-spacing: 0.125rem;
    opacity: 0.6;
    margin-bottom: 1rem;
  }
  .sub-heading {
    font-size: 2rem;
    font-weight: 600;
    line-height: 3rem;
    margin-bottom: 2rem;
  }
}
.form-details {
  margin-top: 6rem;
}

.small-text {
  font-size: 0.7rem;
  margin: 0.25rem;
}
.signup-login-btn {
  cursor: pointer;
  color: $lf-gold;
  font-weight: bold;
}

@media only screen and (max-width: 427px) {
  .main-div {
    padding: 10rem 2rem;
    .heading {
      font-size: 0.75rem;
      font-weight: 600;
      line-height: 0.5rem;
      letter-spacing: 0.125rem;
      opacity: 0.6;
    }
    .sub-heading {
      font-size: 1.8rem;
      font-weight: 600;
      line-height: 3rem;
    }
  }
  .form-details {
    .form-div {
      width: 100%;
    }
  }
}
