@use '@angular/material' as mat;
// @import "~swiper/swiper-bundle";

$lf-black: #121212;
$lf-gold: #f2af29;
// $lf-blue: #41be37;
$lf-light-grey: #e9effe;
$lf-red: #ff5a5f;
$lf-green: #16b464;
$lf-white: #ffffff;
$lf-dark-grey: #252525;
$lf-off-white: #FBFCF8;

body,
html {
  padding: 0;
  margin: 0;
  position: relative;
  background-color: #000; 
  height: 100%;
}
.wrapper {
  max-width: 1920px;   /* fixed width */
  margin: 0 auto;  /* centers the content horizontally */
  background: $lf-white; 
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif !important;
  color: $lf-white;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.para-font-style {
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
  letter-spacing: 0.03125rem;
  color: rgba(255, 255, 255, 0.75);
}

.form-details {
  margin-top: 2rem;
  .mat-radio-button {
    margin-right: 2rem;
  }
  div {
    width: 100%;
    margin-top: 2rem;
    input,
    select,
    textarea {
      width: 49%;
      height: 4rem;
      padding: 1rem 2rem;
      color: $lf-light-grey;
      background-color: $lf-dark-grey !important;
      border: none;
      font-size: 1.25rem;
      outline: none;
      appearance: none;
      border-radius: 0.4rem;
    }
    textarea {
      width: 100%;
      height: 12rem;
    }
  }

  .btnDiv {
    margin-top: 3rem;
    .loginNow {
      color: $lf-gold;
      text-decoration: none;
    }
  }
  .cstmSubmitBtn {
    width: 35rem;
    height: 5rem;
    background-color: $lf-gold;
    color: $lf-black;
    font-weight: 600;
    border-radius: 0.8rem;
    font-size: 1.5rem;
    letter-spacing: 0.15rem;
  }
}

.w-100 {
  width: 100%;
}

mat-icon {
  font-family: 'Material Icons' !important;
}

.mat-expansion-panel {
  border: none;
  box-shadow: none;
  margin-top: 2rem !important;
}
.mat-expansion-panel-header {
  background: #D3D8E5 !important;
  height: 5rem;
  .mat-content {
    color: $lf-black;
    display: flex;
    align-items: center;
    font-size: 1rem;
  }
}
.mat-expansion-panel-content  {
  .mat-expansion-panel-body {
    padding: 2rem 1rem;
  }
}

.loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 1);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.cursor-pointer {
  cursor: pointer;
}

// input.ng-touched.ng-valid {
//   border: none;
// }

// input.ng-touched.ng-invalid {
//   border: 2px solid #d32f2f !important;
//   background-color: #fff5f5 !important; /* subtle red background */
// }

/* Hide number input spinners (Chrome/Edge/Safari) */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
/* Hide number input spinners (Firefox) */
input[type="number"] {
  -moz-appearance: textfield;
}

.custom-select {
  appearance: none;          // remove default arrow (cross-browser)
  -webkit-appearance: none;
  -moz-appearance: none;

  background: url('/assets/chevron-down-solid-full.svg') no-repeat right 1.5rem center;
  background-size: 1rem;
  padding-right: 2rem;       // make space for the icon

  color: #7e7e7e !important; // initial (placeholder color)

  &:not(:has(option:checked[value=""])) {
    color: #fff !important; // when a non-placeholder is selected
  }
}

::ng-deep{
  .ag-cell-value {
    color: #222222 !important;
  }
}

// AG Grid Styles
@import 'ag-grid-community/styles/ag-grid.css';
@import 'ag-grid-community/styles/ag-theme-alpine.css';





